@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    
}

header img {
    padding-left: 20px;
}

header ul{
    display: flex;
    list-style: none;
    flex-flow: row nowrap;

}

header li + li {
    margin-left: 24px;
}

button{
    vertical-align: middle;
    border: none;
    background-color: hsl(214, 100%, 24%);
    border-radius: 16px;
    height: 16px;
    padding: 16px;
 
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}

button a {
    text-decoration: none;
    color: hsl(214, 100%, 94%);
    
}

nav a{

    text-decoration: none;
    color: hsl(234, 100%, 18%);
    font-size: 14px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

aside img{
width: 150px;
}


.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.socials{
   display: flex;
    list-style-type: none;
   justify-content: flex-end;
}

.socials img{
    width: 35px;
}
.socials li + li{
    margin-left: 8px;
}

