@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
}

header img {
    width: 7em;
}

header ul{
    display: flex;
    list-style: none;
    flex-flow: row nowrap;

}

header li + li {
    margin-left: 24px;
}

button{
    vertical-align: middle;
    border: none;
    background-color: hsl(214, 100%, 24%);
    border-radius: 16px;
    height: 16px;
    padding: 16px;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}

button a {
    text-decoration: none;
    color: hsl(214, 100%, 94%);
    
}

nav a{

    text-decoration: none;
    color: hsl(234, 100%, 18%);
    font-size: 14px;
}

nav a:hover{
    color: blue;
}

main{
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
}

aside img{
width: 100%;
}

h1, h2, h3 {
    color: hsl(234, 100%, 18%);
}

h3, h4 {
    display: flex;
    justify-content: center;
}

.testimonial {
    display: flex;
    justify-content: center;
}

.testimonial > img {
    width: 175px;
    border-radius: 50%;
}

h4 {
    color: hsl(0, 0%, 20%);
}

.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 1em;
}

.highlight{
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 61%);
    padding: 1.5em;
}


.socials{
   display: flex;
    list-style-type: none;
   justify-content: flex-end;
}

.socials img{
    width: 35px;
}
.socials li + li{
    margin-left: 8px;
}

.bottom_nav {
    
    background-color: hsl(214, 100%, 9%);
    list-style: none;
}

.bottom_nav ul {
    list-style: none;
    color: hsl(0, 0%, 100%);
}

.bottom_nav ul a {
    list-style: none;
    color: hsl(0, 0%, 61%);
}



